{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        {{ form_start(registrationForm) }}
        <h1>Create a new account</h1>
        {{ form_row(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            'attr': {'class': 'form-control'},
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input mx-2'}}) }}
        {{ form_row(registrationForm.submit, { 'label': 'Register', 'attr': {'class': 'btn btn-dark btn-md mt-2' }}) }}
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
