{% extends 'base.html.twig' %}

{% block title %}Online store{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center my-5 py-5">
        {{ form_start(form) }}
        <h1>Add a new product</h1>
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}

        <div id="image-fields-list"
             data-prototype="{{ form_widget(form.image.vars.prototype)|e }}"
             data-widget-tags="{{ '<div class="widget-tags"></div>'|e }}"
             data-widget-counter="{{ form.image|length }}">
            {% for imageField in form.image %}
                <div>
                    {{ form_errors(imageField) }}
                    {{ form_widget(imageField) }}
                </div>

            {% endfor %}
        </div>

        <button type="button"
                class="add-another-image-widget btn btn-dark mt-3"
                data-list-selector="#image-fields-list">Add another image</button>

        {{ form_row(form.document, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.add, {'attr': {'class': 'btn btn-dark mt-3'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.add-another-image-widget').click(function (e) {
                let list = $($(this).attr('data-list-selector'));
                let counter = list.data('widget-counter') || list.children().length;

                let newWidget = list.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, counter);
                counter++;
                list.data('widget-counter', counter);

                let newElem = $(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);

                let positionElement = $('#product_form_image_'+(counter-1)+'_position');
                let fileChosen = $('#product_form_image_'+(counter-1)+'_name');
                let event = 'loadFile(event'+','+counter+')';
                fileChosen.attr('onchange', event);
                positionElement.val(counter-1);
                positionElement.parent().parent().append('<div><button class="btn btn-danger delete-image my-3"><i class="fas fa-trash"></i></button></div>');
                positionElement.parent().parent().append('<div><img id="output'+counter+'" class="mx-auto d-block" width="200px"/></div>');
            });
        });

        $(document).on('click', '.delete-image', function() {
            $(this).parent().parent().remove();
        });

        let loadFile = function(event, counter) {
            let output = document.getElementById('output'+counter);
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src)
            }
        };
    </script>

{% endblock %}

